@media only screen and (max-width:360px) {
    .comfort__heading {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 40px;
        max-width: 209px;
    }  
  
    .comfort__list__img {
        width: 300px;
        height: 156px;
        order: -1;
    }

    .comfort__list__item {
        display: flex;
        flex-direction: column;
    }

    .comfort__block {
        order: 1;
    }
  
    .comfort__block__title {
        font-size: 18px;
        line-height: 26px;
    }
  
    .comfort__block__info {
        font-size: 15px;
        line-height: 20px;
    }
  
    .comfort__container {
        // width: 100%;
        max-width: 360px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .comfort__list {
        gap: 40px;
    }

    // our section

    .our__list {
        padding: 30px 46px;
        // max-width: 360px;


    }

    .our__list__item {
        display: flex;
    }

    .our__heading {
        margin: 46px auto 17px;
        font-size: 20px;
        line-height: 40px;
    }
    
    .our__title {
        margin-bottom: 9px;
        font-size: 30px;
        line-height: 45px;
    }
    
    .our__info {
        font-size: 15px;
    }

            
// why section

.why {
    margin-bottom: 100px;
  }
  
  
  
  .why__list {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 30px;
  }
  .why__list__item {
    padding: 40px 1px 31px 20px;
    box-shadow: 0px 10px 10px #F0F0F0;
  }
  
  .why__list__item0 {
    background-image: url('./../images/wwhy01.png');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .why__list__item1 {
    background-color: #B7ECB1;
    background-image: url('./../images/wwhy02.png');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .why__list__item2 {
    background-image: url('./../images/wwhy03.png');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .why__header {
      margin: 0 auto;
    font-size: 25px;
    line-height: 28px;
  }
  
  .why__title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 9px;
  }
  
  .why__title1 {
    margin-bottom: 10px;
  }
  
  .why__info {
      margin-bottom: 30px;
    max-width: 421px;
    font-size: 15px;
    line-height: 17px;
  }

  // doctors section

 .doctors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 180px;
}

.doctors__heading {

  font-size: 20px;
  line-height: 28px;

}


.doctors__list__item {
 margin-bottom: 44px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.doctors__title {
 margin: 14px 0 12px;
 font-size: 15px;
 line-height: 26px;
}

.doctors__img {
  max-width: 180px;
  max-height: 189px;
}

.doctors__info {
  font-size: 13px;
  line-height: 19px;
}

.doctors__info1 {
  max-width: 134px;
  text-align: center;
}

// review 


.reviews__block {
  max-width: 300px;
  max-height: 791px;
  background-color: #ECF9EB;
  overflow-y: scroll; 

}

.reviews__block::-webkit-scrollbar {
  width: 12px;
}
 
.reviews__block::-webkit-scrollbar-track {
  margin-top: 17px;
  background: #F0F0F0;
}
 
.reviews__block::-webkit-scrollbar-thumb {
  background: #55A630;
  border-radius: 6px;
}


.reviews__list {
  padding-top: 26px;
  padding-left: 28px;
}

.reviews__list__item {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 56px;
}

.list__block {
  margin-right: 10px;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
}

.reviews__heading {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 15px;
}

.reviews__title {
  font-size: 15px;
  line-height: 26px;
}

.reviews__data {
  font-size: 15px;
  line-height: 26px;
}

.reviews__info {
  max-width: 550px;
  font-size: 15px;
  line-height: 23px;
}

.reviews__link {
  padding: 15px 37px;
  font-size: 18px;
  line-height: 16px;
  transform: translateX(12px) translateY(-550px);
}


  }