@media only screen and (max-width:480px) {
    .comfort__heading {
        font-size: 20px;
        margin-bottom: 40px;
        width: 100%;
        height: 100%;
    }  
  
    .comfort__list__img {
        width: 100%;
        width: 400px;
        height: 156px;
        order: -1;
    }

    .comfort__list__item {
        display: flex;
        flex-direction: column;
    }

    .comfort__block {
        order: 1;
    }
  
    .comfort__block__title {
        font-size: 18px;
        line-height: 26px;
    }
  
    .comfort__block__info {
        font-size: 15px;
        line-height: 20px;
    }
  
    .comfort__container {
        // width: 100%;
        max-width: 480px;
        padding: 0 40px;
        margin: 0 auto;
    }

    .comfort__list {
        gap: 56px;
    }

        //   our section

        .our__list {
            padding: 30px 46px;
            max-width: 360px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .our__heading {
            margin: 46px auto 50px;
            font-size: 20px;
            line-height: 40px;
        }
        
        .our__title {
            margin-bottom: 9px;
            font-size: 31px;
            line-height: 45px;
        }
        
        .our__info {
            font-size: 15px;
            line-height: 19px;
        }


        
// why section

.why {
    margin-bottom: 100px;
  }
  
  
  
  .why__list {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 30px;
  }
  .why__list__item {
    padding: 45px 4px 11px 106px;
    box-shadow: 0px 10px 10px #F0F0F0;
  }
  
  .why__list__item0 {
    background-image: url('./../images/why01.png');
    background-position: left  bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .why__list__item1 {
    background-color: #B7ECB1;
    background-image: url('./../images/why02.png');
    background-position: left  bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .why__list__item2 {
    background-image: url('./../images/why03.png');
    background-position: left  bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .why__header {
    font-size: 25px;
    line-height: 28px;
  }
  
  .why__title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 9px;
  }
  
  .why__title1 {
    margin-bottom: 10px;
  }
  
  .why__info {
      margin-bottom: 30px;
    max-width: 421px;
    font-size: 15px;
    line-height: 17px;
  }

  
// doctors section

 .doctors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 360px;
}

.doctors__heading {

  font-size: 20px;
  line-height: 28px;

}


.doctors__list__item {
 margin-bottom: 40px;
}

.doctors__title {
 margin: 8px 0 3px;
 font-size: 15px;
 line-height: 26px;
}

.doctors__img {
  max-width: 159px;
  max-height: 213px;
}

.doctors__info1 {
  max-width: 152px;
}

// review 

.reviews {
  margin: 0 auto;
}



.reviews__block {
  max-width: 360px;
  max-height: 1106px;
  background-color: #ECF9EB;
  overflow-y: scroll; 

}

.reviews__block::-webkit-scrollbar {
  width: 13px;
}
 
.reviews__block::-webkit-scrollbar-track {
  margin-top: 17px;
  background: #F0F0F0;
}
 
.reviews__block::-webkit-scrollbar-thumb {
  background: #55A630;
  border-radius: 6px;
}


.reviews__list {
  padding-top: 32px;
  padding-left: 18px;
}

.reviews__list__item {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 63px;
}

.list__block {
  margin-right: 10px;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
}

.reviews__heading {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 15px;
}

.reviews__title {
  font-size: 15px;
  line-height: 26px;
}

.reviews__data {
  font-size: 15px;
  line-height: 26px;
}

.reviews__info {
  max-width: 550px;
  font-size: 15px;
  line-height: 23px;
}

.reviews__link {
  padding: 17px 48px;
  font-size: 18px;
  line-height: 16px;
  transform: translateX(40px) translateY(-40px);
}



  }